@use "./index" as *;

@include google-font($primary-font);

* {
  border: 0;
  box-sizing: border-box;
  font-family: $primary-group;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
}

body {
  align-items: center;
  animation: gradient 15s ease infinite;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  color: $neutral-000;
  display: flex;

  font-size: 1.6rem;

  height: 100vh;
  justify-content: center;
  text-align: center;
}

@include gradient;
